.messages{"data-message-id": "#{message.id}"}
  %p.character
    = message.user.name
    
    %span.date
      = message.created_at.strftime("%Y/%m/%d %H:%M")

  %p.message
    = message.content
    %br
      = image_tag message.image