.chatspace
  .side-bar
    = render 'devise/shared/side_bar.html.haml'
  .main_contents
    .main-header
      .left-header
        %span.name 
          = @group.name
        %span.edit 
          = link_to 'Edit' , edit_group_path(@group)
        %p.member 
          Members :
          - @group.users.each do |user|
            = user.name
    .message_area
      = render @messages
      -# %p.character sample1グループ
      -# %span.date 2019/00/00
      -# %p.message こんばんは
      -# %p.character oohashi
      -# %span.date 2019/00/00
      -# %p.message こんばんは

    .message_form
      = form_for [@group, @message],html: {id: 'new_form'} do |f|
        = f.text_field :content, class: 'message_form__chat', placeholder: 'type a message'
        .message_form__mask
          = f.label :image, class: 'message_form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'message_form__submit'