.chatspace
  .side-bar
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              = group.show_last_message
            -#  # .headerまでは_side_barと同じため、後に部分テンプレート化

  .main_contents
    .main-header
      .left-header
        %span.name 
          = @group.name
        %span.edit 
          = link_to 'Edit' , edit_group_path(@group)
        %p.member 
          Members :
          - @group.users.each do |user|
            = user.name
    .message_area
      = render @messages
      -# %p.character sample1グループ
      -# %span.date 2019/00/00
      -# %p.message こんばんは
      -# %p.character oohashi
      -# %span.date 2019/00/00
      -# %p.message こんばんは

    .message_form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message_form__chat', placeholder: 'type a message'
        .message_form__mask
          = f.label :image, class: 'message_form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'message_form__submit'